@tailwind base;
@tailwind components;
@tailwind utilities;


/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the dropdown button */
  .dropbtn {
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  /* Style for the dropdown content */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -120px; /* Adjust this value to determine how far to the left it should open */
  }
  
  /* Style for dropdown links */
  .dropdown-content a {
    color: black;
    padding: 12px;
    text-decoration: none;
    display: block;
  }
  
  /* Change link color on hover */
  .dropdown-content a:hover {
    background-color: #9f948f;
    color: white;
  }
  
  /* Show the dropdown content on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  